# This .gitignore is based on https://github.com/github/gitignore

# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
pom.xml.releaseBackup
release.properties

# JRebel
rebel.xml

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath

# VIM
.*.sw[a-z]
*.un~
Session.vim

# OS X
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
[Tt]humbs.db
Desktop.ini
$RECYCLE.BIN/

# GWT
*.class

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/